<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchString"></ion-searchbar>

  <ion-item-group *ngFor="let d of _bs.book | search: 'bookingId' :searchString">
    <ion-item-divider color="light">ID: {{d.bookingId}}</ion-item-divider>
    <ion-item>{{d.bookingId}}</ion-item>
    <ion-item>Miguel Tuten</ion-item>
    <ion-item>{{d.bookingTime}}</ion-item>
    <ion-item>{{d.locationId.streetAddress}}</ion-item>
    <ion-item>{{d.bookingPrice}}</ion-item>
  </ion-item-group>

</ion-content>
