<ion-header>
  <ion-navbar>
    <ion-title>
      Tuten App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <form [formGroup]="myForm">
    <ion-list>
      <ion-item text-center>
        <ion-img width="192" height="192" src="assets/imgs/logo.png" ></ion-img>
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        <ion-label stacked>Email:</ion-label>
        <ion-input formControlName="email" type="text" placeholder="example@email.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key" item-left></ion-icon>
        <ion-label stacked>Password:</ion-label>
        <ion-input formControlName="password" type="password" placeholder="*************"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" (click)="login()"  [disabled]="!myForm.valid">Login</button>
    </div>
    <p *ngIf="_rs.errorBool"
    class="text-danger">Correo o contraseña incorrecta, intente nuevamente.</p>
  </form>


</ion-content>
